@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  font-family: 'Rubik', sans-serif;
  min-height: 100vh;
}

#footer {
  background-color: gray;
  color: #ffffff;
  position: sticky;
  top: 100vh;
}


@media (min-width: 320px) {
  #logo {
    height: 2rem;
  }
}

@media (min-width: 1280px) {
  #logo {
    height: 2.6rem;
    margin-right: 10px;
  }
}

