@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

body {
  font-family: 'Rubik', sans-serif;
}

#header {
  display: flex;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
  background-color: white;
}

#main {
  margin-top: 100px;
}

#footer {
  background-color: #54436B;
  color: #50CB93;
}

#ultra-nav {
  background-color: gold;
  color: #000060;
  position: fixed;
  left: -230px;
  transition: 0.5s;
  height: 100%;
  border: 1px solid #000060;
  z-index: 2;
}

.ultra-link {
  border: solid 1px;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#ultra-nav ul {
  list-style-type: none;
}

#openNav {
  background-color: gold;
  padding: 10px;
  position: fixed;
  bottom: 5px;
  left: 5px;
  z-index: 0;
  transition: 1s;
}

#closeNav {
  background-color: #000060;
  color: gold;
  padding: 10px;
}

#ultra-nav a {
  background-color: white;
  color: black;
  transition: 0.3s;
}

#ultra-nav a:hover {
  background-color: black;
  color: white;
  transition: 0.3s;
  text-decoration: none;
}

#hide {
  list-style-type: none;
}

#slanted-box-left {
	width: 45%;
	height: 150px;
	border-top: none;
	border-left: none;
	border-bottom: 150px solid #D83A56;
	border-right: 50px solid transparent;
	box-sizing: border-box;
	position: relative;
	left: -48%;
	transition: 2s;
  float: left;
}

.slanted-box-text-left {
	margin: 15px;
	color: white;
}

#slanted-box-right {
	width: 45%;
	height: 150px;
	border-top: 150px solid #D83A56;
	border-left: 50px solid transparent;
	border-bottom: none;
	border-right: none;
	position: relative;
  left: 48%;
	transition: 2s;
  float: right;
}

.slanted-box-text-right {
	margin: 10px;
	color: white;
	position: relative;
	bottom: 146px;
}

#slanted-boxes {
  overflow: hidden;
}

#socmed {
  list-style-type: none;
  padding-bottom: 20px;
}

#socmed li {
  display: inline;
  padding-left: 10px;
}

#socmed li a {
  color: #50CB93;
}